name: ci

on:
  push:
  pull_request:
  schedule:
  - cron: "0 0 1 * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material

      # If this fails with:
      #
      # remote: Permission to richelbilderbeek/to-awk-or-not.git denied to github-actions[bot].
      #
      # (or a later, less usefull error message:)
      #
      # subprocess.CalledProcessError: Command '['git', 'push', 'origin', 'gh-pages', '--force']' returned non-zero exit status 128
      #
      # See the answer at https://stackoverflow.com/a/75175628/3364162
      - run: mkdocs gh-deploy --force
